p{
    font-size: 15px;
    font-family: Arial;
    color:  #041C62;

}

main{
    border: black;
    border-width: 10px;
    background-color: #A37333;
    max-width: 60%;
    padding: 1em;


}
li{
    font-size: 15px;
    font-family: Arial;
    color:  #041C62;
}
a{
    color: #041C62;
}
a:hover{
    color:#B7153B
}
section{
    margin: auto;
}

.job{
    font-size: 15px;
    font-family: Arial;
    color:  #041C62;
}

.subtitle{

    font-family: Arial;
    color:  #041C62;
}
.adr{
    padding-left: 65%;
}
.type{
  padding-left: 65%;
}

















#hcard-Robert-Erickson{
    margin: auto;
    padding: 2%;
    border-width: 10px;
    background-color: #C7924D;
}
#name{
    padding-left: 65%;
    text-decoration: none;
}
#myImage{
    float: left;
    image: url("https://mjhallig.w3.uvm.edu/cs008/IMG_3288.JPG");
}
#profExperience{
    margin: auto;

    background-color: #C7924D;
}

#skills{
    background-color: #C7924D;
}
#education{
    background-color: #C7924D;
}
#experience{
    background-color: #C7924D;
}
#interests{
    background-color: #C7924D;
}
#myImage{
    width: 1em;
    height: auto;
}